/* line 1, ../../src/sass/main.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../src/sass/main.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 10, ../../src/sass/main.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 15, ../../src/sass/main.scss */
body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", "Lucida Grande", sans-serif !important;
  font-size: 100% !important;
}

/* line 28, ../../src/sass/main.scss */
a {
  text-decoration: none;
}

/* line 32, ../../src/sass/main.scss */
button {
  cursor: pointer;
}

/* line 36, ../../src/sass/main.scss */
.clear-both {
  clear: both;
}

/* line 40, ../../src/sass/main.scss */
.mainView {
  transition: all .3s ease .15s;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  padding: 2rem 3rem;
  position: relative;
}
/* line 48, ../../src/sass/main.scss */
.mainView:hover .skip {
  opacity: 1;
}
/* line 52, ../../src/sass/main.scss */
.mainView #framer {
  margin: 0 auto;
  width: 425px;
  height: 425px;
  display: flex;
  align-items: center;
  border-radius: 3px;
}
/* line 60, ../../src/sass/main.scss */
.mainView #framer #wrapper {
  text-align: center;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 69, ../../src/sass/main.scss */
.mainView #framer #wrapper p {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue";
  line-height: 1.3;
}
/* line 76, ../../src/sass/main.scss */
.mainView #framer #wrapper #character {
  font-weight: 600;
}
/* line 80, ../../src/sass/main.scss */
.mainView #framer #wrapper .one-character {
  font-size: 9rem;
}
/* line 84, ../../src/sass/main.scss */
.mainView #framer #wrapper .two-characters {
  font-size: 7rem;
  margin-top: 1rem;
}
/* line 89, ../../src/sass/main.scss */
.mainView #framer #wrapper .kunyomi-one-character {
  font-size: 3.4rem;
}
/* line 93, ../../src/sass/main.scss */
.mainView #framer #wrapper .kunyomi-two-characters {
  font-size: 2.8rem;
}
/* line 97, ../../src/sass/main.scss */
.mainView #framer #wrapper #kunyomi {
  font-weight: 400;
}
/* line 101, ../../src/sass/main.scss */
.mainView #framer #wrapper #meaning {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 3;
  letter-spacing: 1px;
}
/* line 110, ../../src/sass/main.scss */
.mainView .skip {
  font-size: 0.9rem;
  margin-top: 1rem;
  float: right;
  position: absolute;
  width: 425px;
  text-align: center;
  opacity: 0;
  transition: all .3s ease .15s;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
}
/* line 123, ../../src/sass/main.scss */
.mainView .skip button {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  float: right;
}
/* line 132, ../../src/sass/main.scss */
.mainView .skip button:hover {
  box-shadow: 0px 0px 5px #fff;
}

/* line 139, ../../src/sass/main.scss */
#settings {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* line 151, ../../src/sass/main.scss */
#settings:hover {
  box-shadow: 0px 0px 5px #fff;
}
/* line 155, ../../src/sass/main.scss */
#settings img {
  width: 100%;
  position: relative;
}

/* line 161, ../../src/sass/main.scss */
#settings-menu {
  background: white;
  border: 1px solid lightgrey;
  width: 15rem;
  position: absolute;
  top: 15px;
  right: 55px;
  display: none;
  font-size: 0.8rem;
}
/* line 171, ../../src/sass/main.scss */
#settings-menu .settings-link {
  display: block;
  border-bottom: 1px solid lightgrey;
  padding: 1rem;
  cursor: pointer;
}
/* line 178, ../../src/sass/main.scss */
#settings-menu #picker-wrapper {
  height: 0;
  background: white;
  opacity: 0;
  transition: all .3s ease .15s;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  border-bottom: 1px solid lightgrey;
}
/* line 188, ../../src/sass/main.scss */
#settings-menu #picker-wrapper .picker {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
/* line 195, ../../src/sass/main.scss */
#settings-menu #picker-wrapper .colpick {
  background: white !important;
  border: none !important;
  border-radius: 0 !important;
}
/* line 202, ../../src/sass/main.scss */
#settings-menu #list-wrapper {
  height: 0;
  opacity: 0;
  transition: all .3s ease .15s;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  overflow: hidden;
}
/* line 211, ../../src/sass/main.scss */
#settings-menu #list-wrapper p {
  padding: 0.5rem 1rem;
  background: #F1F1F1;
  border-bottom: 1px solid lightgrey;
  margin: 0;
}
/* line 219, ../../src/sass/main.scss */
#settings-menu .show-picker {
  opacity: 1 !important;
  height: 15rem !important;
}
/* line 224, ../../src/sass/main.scss */
#settings-menu .show-list {
  opacity: 1 !important;
  height: 30rem !important;
  overflow: scroll !important;
}

/* line 231, ../../src/sass/main.scss */
.info-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  left: 15px;
  cursor: pointer;
  transition: all .3s ease .15s;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
}
/* line 244, ../../src/sass/main.scss */
.info-icon:hover {
  box-shadow: 0px 0px 5px #fff;
}
/* line 248, ../../src/sass/main.scss */
.info-icon img {
  width: 25px;
}

/* line 253, ../../src/sass/main.scss */
.onboarding-next {
  border: 2px dashed white;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
}
/* line 258, ../../src/sass/main.scss */
.onboarding-next p {
  font-size: 0.9rem;
  float: left;
  padding: 0;
  margin: 0;
  padding: 0.2rem 0;
}
/* line 266, ../../src/sass/main.scss */
.onboarding-next button {
  background: white;
  border: none;
  padding: 0.3rem 0.8rem;
  font-size: 0.75rem;
  border-radius: 0.2rem;
  float: right;
}

/* line 276, ../../src/sass/main.scss */
footer {
  width: 100%;
  background: black;
  position: absolute;
  bottom: 0;
  height: 0;
  opacity: 0;
  left: 0;
  transition: all .3s ease .15s;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  color: white;
}
/* line 290, ../../src/sass/main.scss */
footer h2 {
  float: left;
  padding: 1rem 0 1rem 3rem;
  font-size: 1rem;
}
/* line 296, ../../src/sass/main.scss */
footer a {
  font-weight: 600;
  color: white;
}
/* line 301, ../../src/sass/main.scss */
footer div {
  padding: 1.5rem 3rem;
  float: left;
  width: calc(100% - 20rem);
  font-size: 0.8rem;
}
/* line 308, ../../src/sass/main.scss */
footer .twitter-link {
  width: 1.8rem;
  height: 1.8rem;
  float: right;
  margin: 2rem 3rem;
}
/* line 314, ../../src/sass/main.scss */
footer .twitter-link img {
  width: 100%;
}

/* line 320, ../../src/sass/main.scss */
.show-footer {
  opacity: 1;
  height: auto;
  min-height: 9rem;
}
